body {
    background-image: url("images/palanter.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .purchaseContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 300px;
    width: 100%;
  }
  
  .itemCard {
    color: black;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .itemCard:hover {
    transform: translateY(-5px);
  }
  
  .itemImage {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .price {
    font-size: 1.1rem;
    color: #4CAF50;
    margin: 10px 0;
  }
  
  .buyButton {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buyButton:hover {
    background-color: #45a049;
  }
  
  .cart {
    width: 100%;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cartItem span {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .cartItem button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cartItem button:hover {
    background-color: #d32f2f;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-item-quantity button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-item-quantity button:hover {
    background-color: #e0e0e0;
  }
  
  .cartTotal {
    font-weight: bold;
  }
  
  .cartTotal button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cartTotal button:hover {
    background-color: #45a049;
  }
  