
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/palanter.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  top: 100px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.purchaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color: rgb(0, 255, 153);
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.productSection {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.itemCard {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.itemCard:hover {
  transform: translateY(-5px);
}

.itemImage {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buyButton {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buyButton:hover {
  background-color: #45a049;
}

.cartSection {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartItem span {
  font-size: 1rem;
  color: #333;
  flex-grow: 1;
  text-align: left;
}

.cartItemQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cartItem button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}