.nav {
    background-color: #333;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:2;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color:green;
}

.nav a {
    color: white;
    text-decoration: none;
}

.cartLink {
    position: relative;
    left: 1000px;
    display: flex;
    align-items: center;
}

.cartLink svg {
    margin-left: 5px;
    font-size: 1.2rem;
    color: white;
}

.cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #36f49b; 
    color: white; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px; 
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-align: center;
  }
  
  .cartCount.zero {
    display: none;
  }